In [4]:
import numpy as np
import pandas as pd

In [5]:
df=pd.read_csv("CountyHealthData_2014-2015.csv")

In [13]:
df.shape

(6109, 64)

In [8]:
df.columns

Index(['State', 'Region', 'Division', 'County', 'FIPS', 'GEOID', 'SMS Region',
       'Year', 'Premature death', 'Poor or fair health',
       'Poor physical health days', 'Poor mental health days',
       'Low birthweight', 'Adult smoking', 'Adult obesity',
       'Food environment index', 'Physical inactivity',
       'Access to exercise opportunities', 'Excessive drinking',
       'Alcohol-impaired driving deaths', 'Sexually transmitted infections',
       'Teen births', 'Uninsured', 'Primary care physicians', 'Dentists',
       'Mental health providers', 'Preventable hospital stays',
       'Diabetic screening', 'Mammography screening', 'High school graduation',
       'Some college', 'Unemployment', 'Children in poverty',
       'Income inequality', 'Children in single-parent households',
       'Social associations', 'Violent crime', 'Injury deaths',
       'Air pollution - particulate matter', 'Drinking water violations',
       'Severe housing problems', 'Driving alone to work',
       'Long commute - driving alone', '2011 population estimate',
       'Population that is not proficient in English',
       'Population living in a rural area', 'Diabetes', 'HIV prevalence rate',
       'Premature age-adjusted mortality', 'Infant mortality',
       'Child mortality', 'Food insecurity', 'Limited access to healthy foods',
       'Motor vehicle crash deaths', 'Drug poisoning deaths',
       'Uninsured adults', 'Uninsured children', 'Health care costs',
       'Could not see doctor due to cost', 'Other primary care providers',
       'Median household income', 'Children eligible for free lunch',
       'Homicide rate', 'Inadequate social support'],
      dtype='object')

In [10]:
df.dtypes

State                                object
Region                               object
Division                             object
County                               object
FIPS                                  int64
                                     ...
Other primary care providers        float64
Median household income               int64
Children eligible for free lunch    float64
Homicide rate                       float64
Inadequate social support           float64
Length: 64, dtype: object

In [12]:
df.tail()

,State,Region,Division,County,FIPS,GEOID,SMS Region,Year,Premature death,Poor or fair health,...,Drug poisoning deaths,Uninsured adults,Uninsured children,Health care costs,Could not see doctor due to cost,Other primary care providers,Median household income,Children eligible for free lunch,Homicide rate,Inadequate social support
6104,WY,West,Mountain,Uinta County,56041,56041,Insuff Data,1/1/2015,7436.0,0.135,...,18.66,0.192,0.090,7600.0,0.123,47.0,60953,0.273,NaN,NaN
6105,WY,West,Mountain,Washakie County,56043,56043,Insuff Data,1/1/2014,6580.0,0.106,...,NaN,0.225,0.086,8202.0,0.099,47.0,49533,0.328,NaN,0.133
6106,WY,West,Mountain,Washakie County,56043,56043,Insuff Data,1/1/2015,7572.0,0.106,...,NaN,0.226,0.101,7940.0,0.099,47.0,50740,0.309,NaN,NaN
6107,WY,West,Mountain,Weston County,56045,56045,Insuff Data,1/1/2014,5633.0,0.162,...,NaN,0.201,0.084,6906.0,0.130,28.0,53665,0.232,NaN,0.171
6108,WY,West,Mountain,Weston County,56045,56045,Insuff Data,1/1/2015,7819.0,0.162,...,NaN,0.189,0.092,7238.0,0.130,28.0,59314,0.235,NaN,NaN

In [6]:
df.State.value_counts()

TX    469
GA    318
VA    266
KY    240
MO    229
IL    204
NC    200
KS    199
IA    198
TN    190
IN    184
OH    176
MN    174
MI    164
MS    163
NE    157
OK    154
AR    150
WI    144
FL    134
PA    134
AL    134
LA    128
NY    124
CO    119
SD    117
CA    114
WV    110
ND     92
MT     92
SC     92
ID     84
WA     78
OR     67
NM     64
UT     54
MD     48
AK     46
WY     46
NJ     42
NV     32
ME     32
AZ     30
MA     28
VT     28
NH     20
CT     16
RI     10
HI      8
DE      6
DC      1
Name: State, dtype: int64

In [18]:
df[df["State"] == "NC"]
df.loc[:,["State","County","Teen births"]].sample(n=10)

     State                 County  Teen births
5961    WV          Brooke County         26.5
4025    OH          Fulton County         29.0
5683    VA    Virginia Beach city         28.2
1670    IN          Morgan County         38.3
2309    LA  West Feliciana Parish         39.2
5434    UT           Wayne County          NaN
3896    NY           Kings County         30.3
3448    ND          Benson County        100.0
3797    NM       Roosevelt County         58.3
878     GA           Grady County         82.0

In [19]:
NC_subset =

In [21]:
NC_subset.loc[:,["State","County","Teen births"]].sample(n=10)

     State             County  Teen births
3434    NC       Wayne County         54.1
3401    NC       Rowan County         51.4
3390    NC        Pitt County         28.2
3381    NC  Pasquotank County         42.4
3404    NC  Rutherford County         52.3
3437    NC      Wilson County         60.3
3336    NC        Hoke County         57.2
3411    NC      Stokes County         33.8
3255    NC    Beaufort County         58.1
3424    NC       Vance County         71.5

In [22]:
NC_subset.to_csv("NC_subset.csv", index=False)